.proyecto_USM/imagenes/
.proyecto_USM/PublicacionesProfesor/imagenes/
.proyecto_USM/PublicacionesProfesor/publicaciones/
.proyecto_USM/PublicacionesProfesor/Public/
.proyecto_USM/PublicacionesProfesor/Fechas/